.idyll-root {
  padding-top: 0;
}

button {
  display: block;
  margin: 1em auto;
}

h1, h2, h3, h4, h5 {
  border-bottom: none;
}

pre {
  max-width: 960px;
  margin: 2em auto;
}

h1.hed {
  font-size: 4em;
  margin-top: 0;
}

h2.dek {
  font-size: 2em;
  margin: 0.5em auto;
  max-width: 800px;
  font-weight: lighter;
}

.article-header {
  text-align: center;
  background: #222;
  color: white;
  padding: 8em 0 4em 0;
  margin-bottom: 4em;
}

.article-header a {
  color: white;
  text-decoration: underline;
}
.idyll-dynamic {
  cursor: ew-resize;
  font-family: monospace;
}
.idyll-display {
  font-family: monospace;
}

.dynamic-module {
  background: #efefef;
  margin: 2em -2em;
  padding: 1em;
  border-radius: 10px;
}

img {
  display: block;
  margin: 0 auto;
}

@media all and (max-width: 1000px) {
  .idyll-root {
    max-width: none;
    padding: 0;
  }

  .dynamic-module {
    background: #efefef;
    margin: 2em 0;
    padding: 1em;
    border-radius: 10px;
  }
}
